.column_4 {
    float: left;
    width: 25%;
    padding: 0px;
  }

.column_5 {
  float: left;
  width: 20%;
  padding: 0px;
}
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  figure figcaption {
      border: 1px blue;
      text-align: center;
  }